.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			//box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
		//	background: #000;
         border: 1px solid #359740;
         background: url('@img/icons/checked.svg') 70% 50%/13px 9px no-repeat, rgba(53, 151, 64, 0.08);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: center;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
         border: 2px solid #EFEFEF;
         border-radius: 6px;
         box-shadow: 0 0 5px #EFEFEF;
		}
	}
	// .checkbox__text
	&__text {
	}
}
